$primary: (
  0: #000000,
  10: #110506,
  20: #21090C,
  30: #320E12,
  40: #431318,
  50: #641C23,
  60: #86262F,
  70: #A72F3B,
  80: #B95662,
  90: #CA8289,
  92: #DCACB1,
  94: #E5C1C4,
  96: #EDD5D8,
  98: #F6EAEB,
  100: #FFFFFF
);

$neutral: (
  0: #000000,
  5: #242424,
  10: #641C23,
  20: #656565,
  30: #898989,
  40: #AFAFAF,
  50: #CBCBCB,
  60: #D6D6D6,
  70: #EDEDED,
  80: #F0F0F0,
  90: #F8F8F8,
  100: #FFFFFF
);

$state: (
  error: #C30000,
  error-light: #ED2E2E,
  error-bg: #FFF2F2,
  warning: #A9791C,
  warning-light: #F4B740,
  warning-bg: #FFF8E1,
  success: #00966D,
  success-light: #00BA88,
  success-bg: #F3FDFA
);

$others: (
  light-blue: #8BD4FE,
  dark-green: #3C8F7C,
  light-green: #96D9C9,
  dark-purple: #3F7FDD,
  light-purple: #86B1F2,
  light-orange: #FF725E,
  light-yellow: #FEC52C,
  deep-light-orange: #FFA89B
);
