$border-radius-base: 4px;

$radius-1x: $border-radius-base * 2;
$radius-2x: $border-radius-base * 3;
$radius-3x: $border-radius-base * 4;
$radius-4x: $border-radius-base * 4;


$pill: 9999px;
$circle: 50%;
