$border-radius-base: 4px;

$radius-1x: $border-radius-base * 1;
$radius-2x: $border-radius-base * 2;
$radius-3x: $border-radius-base * 3;
$radius-4x: $border-radius-base * 4;
$radius-5x: $border-radius-base * 5;
$radius-6x: $border-radius-base * 6;

$pill: 9999px;
$circle: 50%;
