@use '../abstracts/_colors' as *;

$dark-theme: (
  shade-1: map-get($primary, 100),
  shade-2: map-get($primary, 98),
  shade-3: map-get($primary, 96),
  shade-4: map-get($primary, 94),
  shade-5: map-get($primary, 92),
  shade-6: map-get($primary, 90),
  shade-7: map-get($primary, 80),
  primary: map-get($primary, 70),
  tint-7: map-get($primary, 60),
  tint-6: map-get($primary, 50),
  tint-5: map-get($primary, 40),
  tint-4: map-get($primary, 30),
  tint-3: map-get($primary, 20),
  tint-2: map-get($primary, 10),
  tint-1: map-get($primary, 0),


  black: map-get($neutral, 100),
  gray-1: map-get($neutral, 90),
  gray-2: map-get($neutral, 80),
  gray-3: map-get($neutral, 70),
  gray-4: map-get($neutral, 60),
  gray-5: map-get($neutral, 50),
  gray-6: map-get($neutral, 40),
  gray-7: map-get($neutral, 30),
  gray-8: map-get($neutral, 20),
  gray-9: map-get($neutral, 10),
  gray-10: map-get($neutral, 5),
  white: map-get($neutral, 0),

  error: map-get($state, error),
  error-light: map-get($state, error-light),
  error-bg: map-get($state, error-bg),
  warning: map-get($state, warning),
  warning-light: map-get($state, warning-light),
  warning-bg: map-get($state, warning-bg),
  success: map-get($state, success),
  success-light: map-get($state, success-light),
  success-bg: map-get($state, success-bg),

  light-blue: map-get($others, light-blue),
  dark-green: map-get($others, dark-green),
  light-green: map-get($others, light-green),
  dark-purple: map-get($others, dark-purple),
  light-purple: map-get($others, light-purple),
  orange: map-get($others, light-orange),
  yellow: map-get($others, light-yellow),
  light-orange: map-get($others, deep-light-orange)
);
